* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.container {
}
.header {
}
.logo {
    display: flex;
    padding: 5px 50px;  
    background-color: #10b082;
}

.logo img {
    width: 500px;
    height: 115px;
}

.logo select {
    margin: 20px;
    padding: 10px 10px;
    border: none;
    background-color: rgba(110, 106, 106, 0);
    cursor: pointer;
    font-size: 16px;
    margin-left: 40px;
}

.logo a {
    margin: 30px;
    margin-top: 50px;
    text-decoration: none;
    color: #bc8e5b;
    font-size: 18px;
    font-weight: 400;
    font-family: Darker Grotesque,sans-serif,Inter,sans-serif;
    text-decoration: underline;
    margin-top: 23px;
}

a {
    display: inline-block;
    margin-top: 30px;
}

a button {
    padding: 15px;
    border-radius: 9px;
    border: none;
    background-color: #fff;
    border: 2px solid #bc8e5b;
}
.data {
    background-color:#fff;
    width: 468px;
    height: 100px;
    border-radius: 15px;
    margin: 5px;
}

.data a {
    margin-bottom: 10px;
}
